body {
  font-size: 1.2rem;
}

.header {
  position: relative;
  padding: 30px;
  background-color: gray;
  height: 100px;
}

.content {
  position: absolute;
  width: 70%;
  height: 70%;
  background-color: blue;

  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  color: white;
  text-align: center;
  font-size: 100px;
}
